.no-scroll{
overflow: hidden !important ;
}

/* .profileCropper .reactEasyCrop_Container{
    margin-top: 170px;
    height: 500px;
} */

.profileCropper .reactEasyCrop_Container img{
     width: 100%;
     object-fit: contain;
}


.profileCropper .reactEasyCrop_CropAreaGrid{
    width: 300px !important;
    height: 300px !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.coverCropper .reactEasyCrop_Container img{
    width: 100%;
    object-fit: cover;
}

/* fixed Height */
/* 
.scrollFixed .profileLeft {
    position: fixed;
    
    width: 298px;
    z-index: 10;
}
.scrollFixed .profileRight {
    width: 449px;
    margin-left: 320px;
}
.showLess .profileLeft {
    bottom: 10px;
}
.showMore .profileLeft {
    top: 66px;
} */

/* 
@media (min-width: 1750px) and (max-width: 1820.99px) {
    .scrollFixed .profileLeft {
      width: 330px; 
    }
  
    .scrollFixed .profileRight {
      margin-left: 340px; 
      width: 500px; 
    }
  }
@media (min-width: 1821px) and (max-width: 1920.99px) {
    .scrollFixed .profileLeft {
      width: 350px; 
    }
  
    .scrollFixed .profileRight {
      margin-left: 360px; 
      width: 540px; 
    }
  } */