@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --main_bg : #fff ;
    --page_color : #f7f7fb;
    --input_color : #f0f2f5;
    --line_color : #f7f7fb;
    --primary_bg : red;
    --single_color : rgba(109 , 40 ,209,1);
    --secondary_bg : #28353e;
    --hober_clr : #f0f2f5;
    --blur : rgba(255 , 255 ,255,0.8);
    --text_color : #333;
    --primary_color : #1fa0ef;
    --secondary_color : #848f95;
    --title_color : #66717f;
    --black : #29313d;
    --white : #fff;
    --green : #21d997;
    --green1 : #15ad78;
    --blue : #5093f3;
    --red : #e54953;
    --red1 :rgb(180, 28, 38);
    --yellow : #d9a94a;
    --purple-100 : #f3e8ff;
    --pink-100 : #fce7f3;
    --cyan-100 : #cffafe;
    --white-100 : #efe4eb;
    --shadow : rgba(128, 128, 128, 0.2)
}

body {
    background-color: var(--main_bg);
  }
  
  .dark {
    --main_bg: #212121;
    --black: white;
    --white: #212121;
    --page_color : #363434;
    --input_color : #373535;
    --line_color : #353535;
    --secondary_bg : #9fc6e1;
    --hober_clr : #3a3a3e;
    --blur : rgba(54, 52, 52, 0.8);
    --text_color : #dfdfdf;
    --purple-100 : #413c45;
    --pink-100 : #3d343a;
    --cyan-100 : #334142;
    --white-100 : #484145;
  }


@font-face {
    font-family: "Gilory Regular";
    src: url(/src/assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: "Gilory Medium";
    src: url(/src/assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: "Gilory SemiBold";
    src: url(/src/assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: "Gilory Bold";
    src: url(/src/assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilory ExtraBold";
    src: url(/src/assets/fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: "Gilory Black";
    src: url(/src/assets/fonts/Gilroy-Black.ttf);
}
@font-face {
    font-family: "Gilory Light";
    src: url(/src/assets/fonts/Gilroy-Light.ttf);
}

.bgPost{
  height: 350px;
  width: 100%;
  background-size: cover;  
}
.bgPost textarea{
    text-align: center;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
}


.postError{
    animation: postAni 0.3s forwards;
}
@keyframes postAni{
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
